
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <ul>
        <li><a href="/api/values/text">Render text template (/Views/Values/Text.cshtml)</a></li>
        <li><a href="/api/values/card">Render adaptive card template ((/Views/Values/Card.cshtml)</a></li>
    </ul>
</body>
</html>
